<!-- Toolbar -->
<mat-toolbar class="bg">
    <!-- <h1 style="font-family:'Rubik Marker Hatch', cursive;">FoOdIe</h1> -->
    <img src="./assets/logo.jpg" alt="logo.jpg" style="height: 60px; width: 120px;">

    <span style="margin-left: 30vw;"></span>

    <!-- Search -->
    <mat-form-field class="example-form-field" style="width: 25vw;" matTooltip="search cuisine based on cuisineName">
      <mat-label>Cuisine</mat-label>
      <input matInput type="text" [(ngModel)]="value" placeholder="Ex. Biryani" [matAutocomplete]="auto" [formControl]="myControl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="refresh()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <span style="margin-right: 2px;"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with search icon" (click)="searchValue()" matTooltip="search">
        <mat-icon>search</mat-icon>
    </button>

    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="restaurant name" style="margin-right: 6.5vw;">
      <mat-icon>restaurant</mat-icon>&nbsp;&nbsp;{{restaurantName}}
    </button>
    <button style="color: #fff;" mat-icon-button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickAddCuisine()" matTooltip="Add Cuisine">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button style="color: #fff;" (click)="logout()" matTooltip="logout">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<!-- Cards -->
<div class="bg-img">
  <mat-grid-list cols="4" style="padding-top: 18px;">
    <mat-grid-tile *ngFor="let metadata of data | filter:value">
      <mat-card class="bg">
        <mat-card-header>
          <mat-card-title>{{metadata.cuisineName}}</mat-card-title>
          <mat-card-subtitle>Cuisine Name
            <button mat-button [matMenuTriggerFor]="menu" style="color: #fff; margin-left: 4.5vw;" matTooltip="info">
              <mat-icon>info</mat-icon>
            </button>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{metadata.image}}" style="height: 200px; width: 310px;">
        <mat-card-content style="margin-left: 15px;">
          <span>
            <button mat-button matTooltip="update" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(metadata)">
              <mat-icon>edit_note</mat-icon>
            </button>
            <span style="margin-left: 6vw;"></span>
              <button mat-button matTooltip="delete" (click)="deletecuisine(metadata.cuisineName)">
                <mat-icon>delete</mat-icon>
              </button>
          </span>
          <!-- menu -->
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="bg" matTooltip="price"><mat-icon>currency_rupee</mat-icon>&nbsp;&nbsp;&nbsp;{{metadata.price}}</button>
            <button mat-menu-item class="bg" matTooltip="rating"><mat-icon>star</mat-icon>&nbsp;&nbsp;&nbsp;{{metadata.rating}}</button>
            <button mat-menu-item class="bg" matTooltip="decription"><mat-icon>description</mat-icon>&nbsp;&nbsp;&nbsp;{{metadata.decription}}</button>
          </mat-menu>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> 
</div>

<!-- Add cuisine Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel" style="margin-bottom: -8px">Cuisine Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cuisineForm">
          <div class="mb-3">
            <label for="cuisineName" class="form-label">Cuisine Name</label>
            <input type="text" class="form-control" formControlName="cuisineName" id="cuisineName">
          </div>
          <div class="mb-3">
            <label for="decription" class="form-label">Description</label>
            <input type="text" class="form-control" formControlName="decription" id="decription">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" formControlName="price" id="price">
          </div>          
          <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="text" class="form-control" formControlName="rating" id="rating">
          </div>          
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" formControlName="image" id="image">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Close</button>
        <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addcuisine()">Add</button>
        <button *ngIf="showUpdate" type="button" class="btn btn-primary" (click)="updateCuisine()">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="facebook.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="twitter.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="google.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="instagram.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="linkedin.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="github.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="landing">foodie.com</a>
  </div>
  <!-- Copyright -->
</footer>

  <!-- <mat-form-field class="example-form-field" style="width: 25vw;" matTooltip="search restaurant based on city">
    <mat-label>Cuisine</mat-label>
    <input matInput type="text" [(ngModel)]="value" placeholder="Ex. Paneer">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="refresh()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <span style="margin-right: 2px;"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with search icon" (click)="searchValue()" matTooltip="search">
      <mat-icon>search</mat-icon>
  </button> -->