<!-- Toolbar -->
<p>
  <mat-toolbar class="bg">
    <a href="/custdash" matTooltip="home">
      <img src="./assets/logo.jpg" alt="logo.jpg" style="height: 60px; width: 120px;">
    </a>
    <h1 style="margin-left: 32vw; font-size: xx-large; font-family:'Rubik Marker Hatch', cursive;">Favourites</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="username" style="margin-right: 5.5vw;">
      <mat-icon>account_circle</mat-icon>Hi&nbsp;{{customerName}}
    </button>
  </mat-toolbar>
</p>

<!--  -->
<div class="bg-img">
  <mat-grid-list cols="4" style="padding-top: 18px;">
    <mat-grid-tile *ngFor="let metadata of data">
      <mat-card class="bg">
        <mat-card-header>
          <mat-card-title>{{metadata.restaurantName}}</mat-card-title>
          <mat-card-subtitle>Restaurant Name
            <button mat-button [matMenuTriggerFor]="menu" style="color: #fff; margin-left: 4.5vw;" matTooltip="info">
              <mat-icon>info</mat-icon>
            </button>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{metadata.imageUrl}}" style="height: 200px; width: 310px;">
        <mat-card-content style="margin-left: 15px;">     
          
          <span><mat-icon matTooltip="city">location_city</mat-icon></span>
            <span style="font-size: 18px;">
              &nbsp;&nbsp;{{metadata.city}}
              <span style="margin-left: 6vw;"></span>
              <button mat-button matTooltip="remove from favourite" (click)="deleteRestaurant(metadata.restaurantName)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
            
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="bg"><mat-icon>mail</mat-icon>&nbsp;&nbsp;&nbsp;{{metadata.emailId}}</button>
              <button mat-menu-item class="bg"><mat-icon>call</mat-icon>&nbsp;&nbsp;&nbsp;{{metadata.phoneNo}}</button>
            </mat-menu>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> 
</div>

<!-- Footer -->
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="facebook.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="twitter.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="google.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="instagram.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="linkedin.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="landing">foodie.com</a>
  </div>
  <!-- Copyright -->
</footer>