<div class="bg-img">
    <!-- Toolbar -->
    <mat-toolbar class="bg">
        <a href="/landing">
            <img src="./assets/logo.jpg" alt="logo.jpg" style="height: 60px; width: 120px;">
        </a>
        <span style="margin-left: 30vw;"></span>
        <span class="example-spacer"></span>
        <a matTooltip="Login" mat-icon-button style="color: #fff;" href="/login">
            <mat-icon>login</mat-icon>
        </a>
    </mat-toolbar>

    <!-- Cards -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1>Sign Up</h1>
                        <h6>Register Restaurant</h6>
                    </div>
                    <!-- userRole -->
                    <form [formGroup]="registerForm">
                        <div class="mb-3">
                            <label class="form-label">Email Id</label>
                            <input type="email" class="form-control" name="emailId" formControlName="emailId" placeholder="emailId" required>
                        </div>
                        <div class="mb-3">
                            <input type="hidden" class="form-control" name="userRole" formControlName="userRole" placeholder="userRole" value="RESTAURANT">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Restaurant Name</label>
                            <input type="text" class="form-control" name="restaurantName" formControlName="restaurantName" placeholder="restaurantName" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Image</label>
                            <input type="text" class="form-control" name="imageUrl" formControlName="imageUrl" placeholder="imageUrl" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <input type="text" class="form-control" name="phoneNo" formControlName="phoneNo" placeholder="phoneNo" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">City</label>
                            <input type="text" class="form-control" name="city" formControlName="city" placeholder="city" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" formControlName="password" placeholder="password" required>
                        </div>
                        <!-- <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder="confirm password" ngModel="confirmPassword">
                        </div> -->
                        <button [disabled]="registerForm.invalid" (click)="registerRestaurant()" class="btn btn-outline-primary" style="width: 31vw; color: #fff; margin-bottom: -2vh;">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
        <!-- Facebook -->
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="facebook.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="twitter.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
        ></a>

        <!-- Google -->
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="google.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
        ></a>

        <!-- Instagram -->
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="instagram.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="linkedin.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
        ></a>
    </section>
    <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="landing">foodie.com</a>
    </div>
    <!-- Copyright -->
</footer>